In [1]:
from google.colab import files
uploaded=files.upload()

Saving titanic_dataset .csv to titanic_dataset .csv

In [4]:
import pandas as pd
import numpy as np
path="/content/titanic_dataset .csv"
data=pd.read_csv(path)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#load data into python environment
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
print(data.shape)

(891, 12)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
print(data.isnull().sum())

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [36]:
# 2.Do all necessary preprocessing steps
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.impute import SimpleImputer

# Identify missing values
print(data.isnull().sum())

# Handle missing values in numerical columns
numeric_columns = ['Age', 'Fare']
imputer = SimpleImputer(strategy='mean')
data[numeric_columns] = imputer.fit_transform(data[numeric_columns])

# Handle missing values in categorical columns if they exist
categorical_columns = ['Embarked', 'Cabin']
for column in categorical_columns:
    if column in data.columns:
        data[column] = data[column].fillna('Unknown')

# Convert categorical variables into numerical representation
label_encoder = LabelEncoder()
if 'Sex' in data.columns:
    data['Sex'] = label_encoder.fit_transform(data['Sex'])
if 'Embarked' in data.columns:
    data['Embarked'] = label_encoder.fit_transform(data['Embarked'])

# Drop columns that are not needed for analysis
columns_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']
data = data.drop(columns_to_drop, axis=1, errors='ignore')

# Display the preprocessed data
print(data.head())

Survived      0
Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_0         0
Sex_1         0
Embarked_0    0
Embarked_1    0
Embarked_2    0
Embarked_3    0
dtype: int64
   Survived  Pclass       Age  SibSp  Parch      Fare  Sex_0  Sex_1  \
0         0       3 -0.592481      1      0 -0.502445      0      1
1         1       1  0.638789      1      0  0.786845      1      0
2         1       3 -0.284663      0      0 -0.488854      1      0
3         1       1  0.407926      1      0  0.420730      1      0
4         0       3  0.407926      0      0 -0.486337      0      1

   Embarked_0  Embarked_1  Embarked_2  Embarked_3
0           0           0           1           0
1           1           0           0           0
2           0           0           1           0
3           0           0           1           0
4           0           0           1           0

In [38]:
#3. Create kNN and SVM models
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Split the dataset into features (X) and target variable (y)
X = data.drop('Survived', axis=1)
y = data['Survived']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the kNN classifier
knn = KNeighborsClassifier(n_neighbors=5)

# Train the kNN classifier
knn.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
from sklearn.svm import SVC

# Create the SVM classifier
svm = SVC(kernel='linear')

# Train the SVM classifier
svm.fit(X_train, y_train)

# Make predictions on the test set
y_pred = svm.predict(X_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8156424581005587
Accuracy: 0.7821229050279329

In [39]:
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Split the dataset into features (X) and target variable (y)
X = data.drop('Survived', axis=1)
y = data['Survived']

# Create the kNN classifier
knn = KNeighborsClassifier(n_neighbors=5)

# Perform k-fold cross-validation
k_fold_scores = cross_val_score(knn, X, y, cv=5)

# Print accuracy scores for each fold
print("k-fold Cross-Validation Scores:")
print(k_fold_scores)
print("Average Accuracy:", k_fold_scores.mean())

# Create the SVM classifier
svm = SVC(kernel='linear')

# Perform stratified k-fold cross-validation
stratified_k_fold = StratifiedKFold(n_splits=5)
stratified_scores = cross_val_score(svm, X, y, cv=stratified_k_fold)

# Print accuracy scores for each fold
print("\nStratified k-fold Cross-Validation Scores:")
print(stratified_scores)
print("Average Accuracy:", stratified_scores.mean())

k-fold Cross-Validation Scores:
[0.7877095  0.76404494 0.82022472 0.82022472 0.82022472]
Average Accuracy: 0.8024857196660597

Stratified k-fold Cross-Validation Scores:
[0.80446927 0.80898876 0.78651685 0.75280899 0.78651685]
Average Accuracy: 0.7878601468834348