In [1]:
from google.colab import files
uploaded=files.upload()

Saving titanic_dataset.csv to titanic_dataset.csv

In [ ]:
#1. Load the dataset into python environment

In [17]:
import pandas as pd
import numpy as np
path="/content/titanic_dataset.csv"
df=pd.read_csv(path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
#2. Set 'PassengerId' as the index column
df.set_index('PassengerId', inplace=True)

# Print the updated DataFrame
print(df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [28]:
#3.check the basic dettails of the dataset
print("Shape:", df.shape)

Shape: (891, 11)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [29]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [30]:
#4. Fill in all the missing values present in all the columns in the dataset
df_filled = df.fillna(0)

# Print the updated DataFrame
print(df_filled.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500     0        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250     0        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500     0        S

In [31]:
#5. Check and handle outliers in at least 3 columns in the dataset
columns_to_check = ['Age', 'Fare', 'SibSp']

# Calculate z-scores for the selected columns
z_scores = np.abs((df[columns_to_check] - df[columns_to_check].mean()) / df[columns_to_check].std())

# Define a threshold for identifying outliers
threshold = 3

# Identify outliers by comparing z-scores to the threshold
outliers = (z_scores > threshold).any(axis=1)

# Handle outliers by replacing them with the median of the column
df.loc[outliers, columns_to_check] = df[columns_to_check].median()

# Print the updated DataFrame
print(df[columns_to_check].head())

              Age     Fare  SibSp
PassengerId
1            22.0   7.2500    1.0
2            38.0  71.2833    1.0
3            26.0   7.9250    0.0
4            35.0  53.1000    1.0
5            35.0   8.0500    0.0

In [34]:
#6.Do min max scaling on the feature set (Take ‘Survived’ as target)
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Separate the feature set (X) and the target variable (y)
X = df.drop('Survived', axis=1)  # Features
y = df['Survived']  # Target

# Identify numeric and categorical columns
numeric_cols = X.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = X.select_dtypes(include=['object']).columns

# Define column transformers for preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('numeric', MinMaxScaler(), numeric_cols),
        ('categorical', OneHotEncoder(), categorical_cols)
    ])

# Apply preprocessing to feature set
X_scaled = preprocessor.fit_transform(X)

# Print the scaled feature set
print(X_scaled)

  (0, 0)	1.0
  (0, 1)	0.3057523377727402
  (0, 2)	0.3333333333333333
  (0, 4)	0.043974920344739106
  (0, 113)	1.0
  (0, 897)	1.0
  (0, 1421)	1.0
  (0, 1726)	1.0
  (0, 1729)	1.0
  (1, 1)	0.5324454519693964
  (1, 2)	0.3333333333333333
  (1, 4)	0.4323693019876057
  (1, 195)	1.0
  (1, 896)	1.0
  (1, 1494)	1.0
  (1, 1660)	1.0
  (1, 1727)	1.0
  (2, 0)	1.0
  (2, 1)	0.36242561632190423
  (2, 4)	0.04806913706649068
  (2, 358)	1.0
  (2, 896)	1.0
  (2, 1567)	1.0
  (2, 1726)	1.0
  (2, 1729)	1.0
  :	:
  (888, 0)	1.0
  (888, 1)	nan
  (888, 2)	0.3333333333333333
  (888, 3)	0.3333333333333333
  (888, 4)	0.14223612166677685
  (888, 418)	1.0
  (888, 896)	1.0
  (888, 1573)	1.0
  (888, 1726)	1.0
  (888, 1729)	1.0
  (889, 1)	0.36242561632190423
  (889, 4)	0.18196518763340322
  (889, 86)	1.0
  (889, 897)	1.0
  (889, 906)	1.0
  (889, 1639)	1.0
  (889, 1727)	1.0
  (890, 0)	1.0
  (890, 1)	0.44743553414565035
  (890, 4)	0.0470076734719625
  (890, 225)	1.0
  (890, 897)	1.0
  (890, 1364)	1.0
  (890, 1726)	1.0
  (890, 1728)	1.0